* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#div_img {
  background-color: #3c3a3a;
  float: left;
  height: 100vh;
  border-right: solid 0.25px #f86b3f;
}
#meu_perfil{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#minha_intro{
  width: 300px;
  height: auto;
  background-color: #3c3a3a ;
  border-radius: 10px;
  padding: 1.5rem;
  border: solid 0.25px #f86b3f;
  animation: slide-in 3s ease-in-out;
  /*animation-fill-mode: forwards;*/
}
@keyframes slide-in{
  from{
    background-color: transparent;
    color: transparent;
    border: transparent;
  }
  to{
  }
}

#troca_tela {
  position: fixed;
  top: 95vh;
  left: 90%;
}
#troca_tela a{
  color:#f5c211;
}
#body-div{  
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5e5c64;
}
@media(max-width: 600px){
  #div_img {
    float: none;
    height: 19.85vh;
    display: flex;
    align-items: center;
    border-bottom: solid 0.05px #f86b3f;
    border-right: transparent;
  }
  #body-div{  
    display: flex;
    justify-content: none;
    
    height: 80vh;
    
  }
  #meu_perfil{
    width: 100px;
    height: 100px;
  }
}